*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 3px white;
}



header {
    text-align: center;
    background-image: url(../img/fondo.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    padding: 300px;
}

#cv {
    color: white;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(7, 5, 12, 0.75);
    margin: 0 auto;
}

.imagen {
    background-image: url(../img/fondo.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}



.sobre-mi{
    float:left;
    padding: 30px;
    background-color: rgba(100, 100, 101, 0.644);
    width: 50%;
    margin: 40px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    

}

.educacion {
    float: right;
    padding: 30px;
    background-color: rgba(100, 100, 101, 0.644);
    width: 50%;
    margin: 40px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
   
}

img {
    max-width: 100%;
    height: auto;
  }

  .experiencia-laboral {
    background-color: rgba(100, 100, 101, 0.644);
    float: left;
    padding: 30px;
    width: 50%;
    margin: 40px;
    color: white;
    border-radius: 5px;
  }

  .contenedor2 {
    display: flex;
      flex-direction: column;
      align-items: center;
    background-image: url(../img/fondo.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }

  .contacto {
    background-color: rgba(100, 100, 101, 0.644);
    float: right;
    padding: 30px;
    width: 50%;
    margin: 40px;
    color: white;
    border-radius: 5px;

  }

  ul{
    list-style-type: none;
    padding: 0;
  }


  @media screen and (max-width: 480px) {
    .contenedor2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: lightgray;
      background-image: url(../img/fondo.jfif);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-size: 40px;
    }
    .contenedor {
      display: flex;
      align-items: center;
      
    }

    .sobre-mi{
        padding: 40px;
    }

    #cv{
        font-size: 70px;
        padding: 40px;
    }
  }

  button {
    text-align: center;
  }

  #exp-lab{
    display: none;
  }

  #exp-la{
    display: none;
  }
  
  #sob-mi {
    display: none;
  }

  #contact {
    display: none;
  }

  #education {
    display: none;
  }

  button{
    text-align: center;
  }